TELEGRAM_BOT_TOKEN="<YOUR_TELEGRAM_BOT_TOKEN>" # only if you want to use telegram as a service. if you don't have your telegram bot token, you can get it from @BotFather
MY_CHAT_ID="<YOUR_TELEGRAM_CHAT_ID>" # your telegram chat id, you can get it from @getmyid https://telegram.me/getmyid 
OMDB_API_KEY="<YOUR_OMDB_API_KEY>" # your omdb api key,  https://www.omdbapi.com/