---

import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import LinkButton from "@components/LinkButton.astro";
import { Image } from "astro-preload/components";
---

<Layout title={`404 Not Found | ${SITE.title}`}>

<a class=" mb-2 mt-8 flex hover:opacity-75" href="/">
  <svg xmlns="http://www.w3.org/2000/svg"><path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path></svg>
  <span>Leave me Alone</span>
</a>
  <div class="  flex   flex-col w-full items-center sm:mt-14 mt-24 ">
    <div class="flex flex-col items-center gap-0">
      <Image name="404.png" class={"not-found-image aspect-auto w-60 sm:-ml-5 -ml-8  -mb-16 sm:w-[300px] "} url="assets/404.png" />
      <div class="font-bold text-skin-accent text-center flex flex-col sm:scale-[160%]">
        <h1 class="text-9xl  -mb-5" aria-label="404 Not Found">404</h1>
        <span class="text-4xl">JUSTICE IS <br>
          NOT SERVED</span>
      </div>
    </div>
    <p class="mt-4 text-center sm:mt-16 text-lg sm:text-3xl p-2 sm:px-12 ">
      If you think this is an error, please never contact me.
      Just visit other pages.
    </p>
  </div>
</Layout>
