---
import Layout from "@layouts/Layout.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import PostCard from "@components/PostCard.astro";
import ProjectCard from "@components/ProjectCard.astro";
import getSorted from "@utils/getSorted";
import type { CollectionEntry } from "astro:content";
const projects = await getSorted("projects");
const posts = await getSorted("blog");
const maxPerPage = 2;

import Hero from "@components/Hero.astro";
---

<Layout title="Home" description="Mohammed Nasser's personal blog">
  <section class="flex flex-col pb-6 pt-8">
    <div class="flex flex-col items-center justify-center gap-2">
      <Hero />
    </div>
  </section>
  <Hr />

  <Hr />

  {
    projects.length > 0 && (
      <>
        <section id="projects">
          <h2 class="flex w-full justify-between pb-2 z-[999]">
            <span>Projects</span>
            <LinkButton href="/projects">
              <span class="inline-flex  scale-[60%] items-end whitespace-nowrap ">
                View All...
                <svg xmlns="http://www.w3.org/2000/svg">
                  <path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z" />
                </svg>
              </span>
            </LinkButton>
          </h2>
          <div class="h-full w-full">
            <sl-carousel
              pagination
              navigation
              mouse-dragging
              loop

              class="h-full w-full p-0 -mt-20 scale-125 sm:scale-100"
              style="--scroll-hint: 30px;"
              slides-per-page="1"
            >
              <span slot="next-icon" />
              <span slot="previous-icon" />
              {projects.map(p => (
                <sl-carousel-item tabindex="0">
                  <ProjectCard
                    class="h-full w-full min-w-60"
                    project={p as CollectionEntry<"projects">}
                  />
                </sl-carousel-item>
              ))}
            </sl-carousel>
          </div>
        </section>

        <Hr />
      </>
    )
  }

  <section id="recent-posts">
    <h2 class="flex w-full justify-between justify-self-start pb-2">
      <span> Recent Posts</span>
      <LinkButton href="/blog">
        <span
          class="inline-flex origin-right scale-[60%] items-center whitespace-nowrap"
        >
          Read More...
          <svg xmlns="http://www.w3.org/2000/svg"
            ><path
              d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
            ></path>
          </svg>
        </span>
      </LinkButton>
    </h2>
    <div class="h-full w-full">
      <ul
        class="grid place-items-center gap-2 place-self-center sm:grid-cols-2"
      >
        {
          posts
            .slice(0, maxPerPage)
            .map(post => <PostCard post={post as CollectionEntry<"blog">} />)
        }
      </ul>
    </div>
  </section>
</Layout>

<style>
  section {
    width: 100%;
    height: 100%;
    padding-bottom: 24px;
    padding-top: 48px;
    scroll-snap-align: start;
    scroll-snap-type: mandatory;
    height: 100%;
    overflow-y: hidden;
    scroll-snap-stop: always;

    justify-content: center;
    align-content: center;
  }
  h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
</style>
