---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import getUniqueTags from "@utils/getUniqueTags";
const allPosts = await getCollection("blog");
const allTags = getUniqueTags(allPosts);
import TagsElement from "@components/Tags.astro";



---

<Layout title="tags">
  <h1 class="text-2xl tracking-wider sm:text-3xl text-start py-6">Tags</h1>
  Select tags to filter posts

  <TagsElement isTags={true} tags={allTags} allTags={allTags} />
</Layout>

<style>
  ul {
    display: grid;
    gap: 1rem;
    grid-template-columns: auto auto auto auto;

  }
</style>
