---
import Layout from "@layouts/Layout.astro";
import TagsElement from "@components/SearchByTag.astro";

import getUniqueTags from "@utils/getUniqueTags";
const allTags = await getUniqueTags("blog");



---

<Layout title="tags">

  <h1 class="text-2xl tracking-wider sm:text-3xl text-start py-6">Tags</h1>
  Select tags to filter posts
  <TagsElement tags={allTags} />
</Layout>

<style>
  ul {
    display: grid;
    gap: 1rem;
    grid-template-columns: auto auto auto auto;

  }
</style>

