---
import Tag from "@components/Tag.astro";
import { twMerge } from "tailwind-merge";

export interface Props {
    tags: string[]
    class?: string
    type?: "tag" | "category"
    sort ?: boolean
    limit ?: number

}

const { tags, class: className, type, sort, limit=7 } = Astro.props
---
<p class={twMerge("my-8 flex gap-2  flex-wrap", className)}>
    {tags.sort((a, b) => a.length - b.length).map((tag, i) => <Tag class={ i > limit ? "hidden" : ""} type={type} name={tag} />)}
    <slot /> 
</p>
