---
import Hr from "./Hr.astro";
import Socials from "./Socials.astro";

const currentYear = new Date().getFullYear();

---

<footer class="w-full h-fit scale-[110%] sm:scale-100  origin-center ">
  <Hr  />
  <div class="flex items-center gap-0 flex-row  justify-between">
    <Socials centered />
    <span class="sm:scale-100 scale-75 text-sm">All rights reserved &#169; {currentYear}</span>
  </div>
</footer>
