---
import Hr from "./Hr.astro";
const currentYear = new Date().getFullYear();

---

<footer class="w-full h-fit scale-[110%] sm:scale-100  origin-center ">
  <Hr  />
  <div class="flex items-center gap-0 flex-row  justify-between p-2">
    <span class="sm:scale-100 scale-75 text-sm">Mohammed Nasser &#169; {currentYear}. All rights reserved.  </span>
  </div>
</footer>
