---
import Hr from "./Hr.astro";
import Socials from "./Socials.astro";

const currentYear = new Date().getFullYear();

---

<footer class="w-full h-fit">
  <Hr  />
  <div class="flex items-center pt-2 justify-between sm:flex-row flex-col  sm:py-4">
    <Socials centered />
    <span class="inline-block">All rights reserved. &#169; {currentYear}</span>
  </div>
</footer>
