---
import { SOCIALS } from "@config";
import LinkButton from "./LinkButton.astro";
import socialIcons from "@assets/socialIcons";
/* @ts-ignore */
import { twMerge } from 'tailwind-merge'



export interface Props {
  centered?: boolean;
  class?: string;
}

const { centered = false, class: className } = Astro.props;
---

<div class={twMerge('inline-flex justify-center gap-4 sm:scale-100 scale-75 p-2 origin-center', className)}>
  {
    SOCIALS.filter(social => social.active).map(social => (
      <LinkButton
        href={social.href}
        className="link-button"
        title={social.linkTitle}
      >
        <Fragment set:html={socialIcons[social.name]} />
      </LinkButton>
    ))
  }
</div>

<style>
  .link-button {
    @apply hover:rotate-6 overflow-visible;
  }
</style>
