---
import { SOCIALS } from "@config";
import LinkButton from "./LinkButton.astro";
/* @ts-ignore */
import { twMerge } from 'tailwind-merge'
import { Icon } from "astro-icon";



export interface Props {
  centered?: boolean;
  class?: string;
}

const { class: className } = Astro.props;
---

<div class={twMerge('inline-flex justify-center gap-4 sm:scale-100 p-2 origin-center', className)}>
  {
    SOCIALS.filter(social => social.active).map(social => (
      <LinkButton
        href={social.href}
        className="hover:rotate-6 size-6"
        title={social.linkTitle}
        ariaLabel={social.linkTitle}
      >
        <Icon name={social.icon} class="w-6 h-6"
         />
      </LinkButton>
    ))
  }
</div>
