---
// import tailwind merge 
import { slugifyStr } from "@utils/slugify";
import { twMerge } from "tailwind-merge"; 
export interface Props {
  name: string;
  size?: "sm" | "lg";
  type?: "all" | "tag" | "category";
  class?: string;
}




let {name, class: otherClasses, type} =  Astro.props;



let href;
switch (type) {
  case "tag":
    href = `/search/content?tag=${name.toLowerCase()}`
    break
  case "category":
    href = `#`
    break
  default:
    href = `/search/tags`
    break
}

let tagProps = {}

if (type !== "all") {
  tagProps = {
    "aria-type": "item-tag",
    "data-tag": slugifyStr(name)
  }
}

---



<a
  class={twMerge(`bg-skin-card  rounded-xl  group  hover:-top-0.5 hover:text-skin-accent focus-visible:p-1 py-1 px-1 w-fit gap-1 flex justify-center ${type === "category" ? "pointer-events-none" : ""} `, otherClasses)}
  href={href}
  transition:name={"tag:"+slugifyStr(name)}
  {...tagProps}
>
  
   { (type !== "all") ? (<svg class="size-7  scale-95 text-skin-base opacity-80 group-hover:fill-skin-accent data-[theme=dark]:outline-2"
      xmlns="http://www.w3.org/2000/svg"
      ><path
        d="M16.018 3.815 15.232 8h-4.966l.716-3.815-1.964-.37L8.232 8H4v2h3.857l-.751 4H3v2h3.731l-.714 3.805 1.965.369L8.766 16h4.966l-.714 3.805 1.965.369.783-4.174H20v-2h-3.859l.751-4H21V8h-3.733l.716-3.815-1.965-.37zM14.106 14H9.141l.751-4h4.966l-.752 4z"
      ></path>
    </svg>) : ""}
    <span class="whitespace-nowrap text-sm element-to-style place-self-center scale-95 origin-left" >{name.toLowerCase()}</span>
  </a>



