---
import Layout from "@layouts/Layout.astro";
import ProjectCard from "@components/ProjectCard.astro";
import slugify from "@utils/slugify";
import ContentTags from "@components/ContentTags.astro";
import Tag from "@components/Tag.astro";

import getUniqueTags from "@utils/getUniqueTags";

const allTags = await getUniqueTags("projects");
import  {type CollectionEntry , getCollection} from "astro:content";

export interface Props {
  pageNum?: number;
  tags?: string[];
}
const allProjects: CollectionEntry<"projects">[] = await getCollection("projects");

---

<Layout title="projects" description="List of some of technical projects I did.">
  <article>
    <h1 class="text-2xl tracking-wider sm:text-3xl text-start pt-6" >Tags</h1>
  </div>
  
  <ContentTags tags={allTags} type="tag">
    <Tag class="bg-skin-card/20 text-xl rounded-full px-6 *:scale-[1.6] " name="+" type="all" size="lg" >
  </ContentTags >
  
    <h1 class="text-2xl tracking-wider sm:text-3xl text-start py-6">Projects</h1>
    <ul class="grid sm:grid-cols-2 place-self-center place-items-center  gap-2">
      {
        allProjects.map((project) => (
          <ProjectCard class="size-[25rem]" project={project} />
          ))
        }
    </ul>
  </article>
</Layout>


<style>

  section{
    @apply justify-self-start  w-full flex flex-col gap-2  
  }
  
    h2 {
      @apply text-xl tracking-wider sm:text-2xl  text-start ;
    }
  </style>
  