---
import Breadcrumbs from "@components/Breadcrumbs.astro";

interface StringTitleProp {
  pageTitle: string;
  pageDesc?: string;
}



export type Props = StringTitleProp;

const { props } = Astro;
---
<main class=" h-full overflow-y-auto">
<Breadcrumbs />
  {
    "titleTransition" in props ? (
      <h1>
        <span transition:name={props.pageTitle}>
        </span>
      </h1>
    ) : (
      <h1>{props.pageTitle}</h1>
    )
  }
  <slot />

</main>

<style>

  #main-content h1 {
    @apply text-2xl font-semibold sm:text-3xl;
  }
  #main-content p {
    @apply  mt-2 italic;
  }
</style>
