---

import Layout from "@layouts/Layout.astro";
import Tabs from "@components/Tabs.astro";

---

<Layout title="search" ogImage="/assets/images/fallback.png" description="Search for content in the blog and projects by tags used or by content.">
    <section  class="mt-3 flex-grow">
        <Tabs />
        <slot />
    </section>
</Layout>
