---

import Layout from "@layouts/Layout.astro";
import Tabs from "@components/Tabs.astro";

---

<Layout title="search">
    <section  class="mt-3 flex-grow">
        <Tabs />
        <slot />
    </section>
</Layout>
